.taskContainer {
  margin: 20px auto;
  padding: 50px;
  border-radius: 25px;
  position: relative;
  width: 30%;
}

.task {
  display: inline;
}

.btnDelete {
  /*Border props*/
  border: none;
  border-radius: 5px;
  background-color: #dd1f1f;
  /*sizing*/
  padding: 10px 20px;
  width: 20%;

  /*font props*/
  font-size: 16px;
  text-align: center;
  cursor: pointer;

  /*color + appearance*/
  opacity: 0;
  color: #d1d1d1;

  /*position*/
  box-sizing: border-box;
  position: absolute;
  right: -30%;
  top: 50%;

  /*childrens position*/
  justify-content: center;
  align-items: center;
  display: flex;

  /*transitions*/
  transform: translateY(-50%);
  transition: all 0.3s ease;

}

.taskContainer:hover .btnDelete {
  right: 15%;
  opacity: 1;
}

/* This CSS code assumes that you have an HTML input element with type="checkbox" in your React component */

/* Remove default checkbox styles */
.completedCheck {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Create custom checkbox */
.completedCheck:before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  border: 1px solid #999999;
  border-radius: 3px;
  vertical-align: middle;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  color: transparent;
}

/* Show checkmark when checked */
.completedCheck:checked:before {
  content: '\2713';
  color: #ffffff;
}

#taskContainer .task .completedCheck:checked + p{
  text-decoration: line-through;
}